// theme
$aqua: #35f8fa;
$tart-orange: #fa5552;
$deep-champagne: #ffcf87;
$vivid-sky-blue: #1ad7ff;
$medium-turquoise: #31ccbd;
$dark-turquoise: #1d756c;
$transparent: #00000000;
// components
$logo: white;
$header-items: white;
$header-fill: $dark-turquoise;
$menu-active: $medium-turquoise;

// transition
$transition-duration: 0.4s;

// fonts
$header-home: 12px;
$font-family: 'Lato', Helvetica, sans-serif;

// sections
$section-padding: 100px 0;

// banner
$banner-padding: 150px;

// odd
$odd-background: black;

// one
$one-padding: 150px;
$one-background: $medium-turquoise;

// two
$two-padding: 150px;
$two-background: $vivid-sky-blue;
